[Unit]
Description=vault service
After=network.target

[Service]
ExecStart={{install_dir}}/vault server -config=/etc/vault.hcl
ExecStop={{install_dir}}/vault step-down
User=root
Restart=on-abort

[Install]
WantedBy=multi-user.target
